@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

q{
	font-style: italic;
}

header{
	font-variant: small-caps;
	margin: 1em;
	text-align: center;
}

footer{
	margin-top: 1em;
	text-align: right;
}

[epub|type~="z3998:salutation"]{
	font-variant: small-caps;
}

[epub|type~="z3998:salutation"] + p{
	text-indent: 0;
}

[epub|type~="z3998:poem"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:poem"] p + p{
	margin-top: 1em;
}

[epub|type~="z3998:poem"] p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

[epub|type~="z3998:poem"] p > span + br{
	display: none;
}

p span.i1{
	padding-left: 2em;
	text-indent: -1em;
}

#the-hounds-of-tindalos header{
	font-variant: normal;
}

#the-man-from-time > blockquote{
	font-style: italic;
}

#the-mississippi-saucer > blockquote{
	text-align: center;
}
